<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h3>Generate Diagram</h3></li>
    </ol>
</nav>
<div>
    <form id="diagram_generator" class="form-horizontal" role="form" action="{{ path('diagrams_generator_generate_clean') }}">
        <div class="diagram-filters">
            <fieldset>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="technical_metrics">Perf. Metric:</label>
                            <select name="technical_metrics" class="form-control form-control-sm" id="technical_metrics">
                                {#<option value="" selected="selected">---</option>#}
                                {% for metric in navigation_timings %}
                                <option value="{{ metric.key }}|1">{{ metric.label }}</option>
                                {% endfor %}
                            </select>
                            <label for="visualize_bucket">Bucket Size:</label>
                            <select name="visualize[bucket]" class="form-control form-control-sm" id="visualize_bucket">
                                <option value="100">0.1 sec</option>
                                <option selected="selected" value="200">0.2 sec</option>
                                <option value="300">0.3 sec</option>
                                <option value="400">0.4 sec</option>
                                <option value="500">0.5 sec</option>
                            </select>
                            {#<label for="visualize_time_range">Range:</label>#}
                            {#<select name="visualize[time_range]" class="form-control form-control-sm" id="visualize_time_range">#}
                                {#<option value="1000">1 sec</option>#}
                                {#<option value="2000">2 sec</option>#}
                                {#<option value="3000">3 sec</option>#}
                                {#<option value="4000">4 sec</option>#}
                                {#<option selected value="5000">5 sec</option>#}
                                {#<option value="6000">6 sec</option>#}
                                {#<option value="7000">7 sec</option>#}
                                {#<option value="8000">8 sec</option>#}
                                {#<option value="9000">9 sec</option>#}
                                {#<option value="10000">10 sec</option>#}
                            {#</select>#}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="filters_device_type">Device:</label>
                                    <input type="hidden" name="filters[device_type][condition]" value="is" />
                                    <select name="filters[device_type][search_value]" class="form-control form-control-sm" id="filters_device_type">
                                        <option selected value="">All</option>
                                        <option value="mobile">Mobile</option>
                                        <option value="tablet">Tablet</option>
                                        <option value="desktop">Desktop</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="filters_os_name">OS:</label>
                                    <input type="hidden" name="filters[os_name][condition]" value="is" />
                                    <select name="filters[os_name][search_value]" class="form-control form-control-sm" id="filters_os_name">
                                        <option selected value="">All</option>
                                        <option value="Android">Android</option>
                                        <option value="iOS">iOS</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="filters_browser_name">Browser:</label>
                                    <input type="hidden" name="filters[browser_name][condition]" value="is" />
                                    <select name="filters[browser_name][search_value]" class="form-control form-control-sm" id="filters_browser_name">
                                        <option selected value="">All</option>
                                        <option value="Chrome">Chrome</option>
                                        <option value="Firefox">Firefox</option>
                                        <option value="Internet Explorer">Internet Explorer</option>
                                        <option value="Safari">Safari</option>
                                        <option value="Edge">Edge</option>
                                        <option value="Samsung Internet">Samsung Internet</option>
                                        <option value="Opera">Opera</option>
                                    </select>
                                </div>
                            </div>
                            <label for="filters_url_search_value">Url:</label>
                            <div class="row">
                                <div class="col-4">
                                    <select name="filters[url][condition]" class="form-control form-control-sm" id="filters_url_condition">
                                        <option value="is">is</option>
                                        <option selected value="contains">contains</option>
                                        <option value="starts_with">starts with</option>
                                        <option value="ends_on">ends on</option>
                                    </select>
                                </div>
                                <div class="col-8">
                                    <input name="filters[url][search_value]" type="text" class="form-control form-control-sm" id="filters_url_search_value" />
                                </div>
                            </div>
                            {#<label for="filters_page_type">Page Type:</label>#}
                            {#<div class="row">#}
                                {#<div class="col-12">#}
                                    {#<select name="filters[page_type][search_value]" class="form-control form-control-sm" id="filters_page_type">#}
                                        {#<option value="">All</option>#}
                                        {#<option value="" selected="selected">---</option>#}
                                        {#{% for page in page_types %}#}
                                            {#<option value="{{ page.getId() }}">{{ page.getPageTypeName() }}</option>#}
                                        {#{% endfor %}#}
                                    {#</select>#}
                                    {#<input type="hidden" name="filters[page_type][condition]" value="contains" />#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group has-feedback">
                            <label>Periods:</label>
                            <br />
                            <div class="date-picker-wrapper float-left">
                                <input class="form-control form-control-sm calendar-date-picker" type="text" id="current_period_from_date_0" name="periods[0][from_date]" value="02/01/2019">
                                <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                            </div>
                            -
                            <div class="date-picker-wrapper float-right">
                                <input class="form-control form-control-sm calendar-date-picker" type="text" id="current_period_to_date_0" name="periods[0][to_date]" value="02/01/2019">
                                <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                            </div>
                            {#<br />#}
                            {#<label><input type="checkbox" checked /> Compare with other periods</label>#}
                            {#<br />#}
                            {#<div class="date-picker-wrapper float-left">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_from_date_1" name="periods[1][current_period_from_date]" value="10/16/2018">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#-#}
                            {#<div class="date-picker-wrapper float-right">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_to_date_1" name="periods[1][current_period_to_date]" value="10/17/2018">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#<br />#}
                            {#<br />#}
                            {#<div class="date-picker-wrapper float-left">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_from_date_2" name="periods[2][current_period_from_date]" value="09/30/2018">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#-#}
                            {#<div class="date-picker-wrapper float-right">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_to_date_2" name="periods[2][current_period_to_date]" value="09/30/2018">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#<br />#}
                            {#<br />#}
                            {#<div class="date-picker-wrapper float-left">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_from_date_3" name="periods[3][current_period_from_date]" value="12/09/2018">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#-#}
                            {#<div class="date-picker-wrapper float-right">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_to_date_3" name="periods[3][current_period_to_date]" value="12/09/2018">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#<br />#}
                            {#<br />#}
                            {#<div class="date-picker-wrapper float-left">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_from_date_4" name="periods[4][current_period_from_date]" value="01/04/2019">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                            {#-#}
                            {#<div class="date-picker-wrapper float-right">#}
                                {#<input class="form-control form-control-sm calendar-date-picker" type="text" id="previous_period_to_date_4" name="periods[4][current_period_to_date]" value="01/20/2019">#}
                                {#<span class="fa fa-calendar txt-danger form-control-feedback"></span>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label>Visualization:</label>
                            <br />
                            <label><input checked type="checkbox" value="1" name="decorators[density]" /> Density</label>
                            <br />
                            <label><input type="checkbox" value="1" name="decorators[show_median]" /> Show Median</label>
                            <br />
                        </div>
                        <div class="form-group">
                            <label>Business Metrics:</label>
                            <br />
                            <label><input type="checkbox" value="1" name="business_metrics[bounce_rate]" /> Bounce Rate</label>
                            {#<br />#}
                            {#<label><input type="checkbox" value="1" name="business_metrics[conversion_rate]" /> Conversion Rate</label>#}
                            {#<br />#}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-label-right float-right">
                    Run <span><i class="fa fa-play-circle-o"></i></span>
                </button>
            </fieldset>
        </div>
    </form>
    <script type="text/javascript">
        $(".calendar-date-picker").datepicker();
    </script>
    <div id="diagramContainer"></div>
</div>
<script type="text/javascript">
    var basicRumPlot = function(diagrams, layout_extra_shapes, layout) {
//         var layout = {
//             xaxis: {
//                 tickvals: [1000, 2000, 3000, 4000, 5000],
//                 ticktext: ["1 sec", "2 sec", "3 sec", "4 sec", "5 sec"]
//             },
//             yaxis: {
//                 title: 'Website Visits'
// //                fixedrange: true,
// //                range: [0, 3]
//             },
//             legend: {
//                 x: 0,
//                 y: 1.3,
//                 traceorder: 'normal',
//                 font: {
//                     family: 'sans-serif',
//                     size: 12,
//                     color: '#000'
//                 },
//                 bgcolor: '#E2E2E2',
//                 bordercolor: '#FFFFFF',
//                 borderwidth: 2
//             }
//         };

        if (layout_extra_shapes.length > 0) {
            layout.shapes = layout_extra_shapes;
        }

        Plotly.newPlot('diagramContainer', diagrams, layout, {displayModeBar: false});
    };
</script>

<script type="text/javascript">
    var diagramGeneratorForm = $('#diagram_generator');

    diagramGeneratorForm.on('submit', function(e) {
        e.preventDefault();
        var dataString = $(diagramGeneratorForm).serialize();
        var formAction = $(this).attr('action');
        $.ajax({
            type: "POST",
            url: formAction,
            data: dataString,
            dataType: "json",
            success: function(data) {
                basicRumPlot(data.diagrams, data.layout_extra_shapes, data.layout);
            },
            error: function() {
                alert('error');
            }
        });
    });
</script>