{% extends 'base.html.twig' %}

{% block content %}
                            <form method="post">
                                {% if error.messageData %}
                                    <div class="alert alert-danger">{{ error.messageData }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                {% endif %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="float-left col-8">
                                            <h1 class="card-title h3 font-weight-normal" style="line-height:50px;">Restore Password</h1>
                                        </div>
                                        <div class="float-right">
                                            <img src="img/logo.png" height="50">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group col-md-12">
                                            <label for="inputEmail" class="sr-only">Email</label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                        </div>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    </div>
                                </div>

                                <br>
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Send Email
                                </button>
                            </form>
{% endblock %}