{% extends 'base.html.twig' %}

{% block title %}PageTypeConfig index{% endblock %}

{% block body %}
    <h1>PageTypeConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PageTypeName</th>
                <th>ConditionValue</th>
                <th>ConditionTerm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page_type_config in page_type_configs %}
            <tr>
                <td>{{ page_type_config.id }}</td>
                <td>{{ page_type_config.pageTypeName }}</td>
                <td>{{ page_type_config.conditionValue }}</td>
                <td>{{ page_type_config.conditionTerm }}</td>
                <td>
                    <a href="{{ path('page_type_config_show', {'id': page_type_config.id}) }}">show</a>
                    <a href="{{ path('page_type_config_edit', {'id': page_type_config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_type_config_new') }}">Create new</a>
{% endblock %}