<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax-link" href="{{ path('page_type_config_index') }}">Page Types</a></li>
        <li class="breadcrumb-item active">Page Type <span class="badge badge-dark badge-pill">{{ page_type_config.id }}</span></li>
    </ol>
</nav>

<table class="table">
    <tbody>
        <tr>
            <th>Type</th>
            <td>{{ page_type_config.pageTypeName }}</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td>{{ page_type_config.conditionValue }}</td>
        </tr>
        <tr>
            <th>Term</th>
            <td>{{ page_type_config.conditionTerm }}</td>
        </tr>
    </tbody>
</table>

<button data-link="{{ path('page_type_config_index') }}" class="ajax-btn btn btn-secondary float-left">
    <i class="fa fa-backward"></i> Back
</button>

{{ include('page_type_config/_delete_form.html.twig') }}

<button
        data-link="{{ path('page_type_config_edit', {'id': page_type_config.id}) }}"
        class="ajax-btn btn btn-primary float-right">
    <i class="fa fa-edit"></i> Edit
</button>
