<table class="table table-sm table-scroll">
    <thead>
    <tr>
        <th class="col-3" scope="col">Page Type</th>
        <th class="col-3" scope="col">Date</th>
        <th class="col-3" scope="col">First Byte</th>
        <th class="col-3" scope="col">Process</th>
    </tr>
    </thead>
    <tbody>
    {% for page_view in page_views %}
        <tr data-beacon-id="{{ page_view.getRumDataId() }}" class="beacon-row" id="row_{{ page_view.getRumDataId() }}">
            <td class="col-3">View ID: {{ page_view.getRumDataId() }}</td>
            <td class="col-3">{{ page_view.getCreatedAt()|date("m/d/Y H:i:s", "Europe/Berlin") }}</td>
            <td class="col-3">{{ page_view.getNtResSt() - page_view.getNtNavSt() }} ms</td>
            <td class="col-3">{{ page_view.getPid() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    var loadBeacon = function(rumDataId) {

        var data = {
            rum_data_id : rumDataId
        };

        //load from /diagrams/beacon/draw
        $.ajax('/diagrams/beacon/draw',
                {
                    method: 'post',
                    data: data,
                    success : function(response) {
                        //$('#user-agent').html(response.user_agent);
                        $('#waterfall-view').html(response.waterfall);
                    }
                }
        );
    };

    var beaconRows = $('tr.beacon-row');

    beaconRows.on('click', function() {
        $(beaconRows).removeClass('active');
        $(this).addClass('active');

        loadBeacon($(this).data('beacon-id'));
    });

    beaconRows.first().click();
</script>
