<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h3>First Paint vs. Bounce Rate</h3></li>
    </ol>
</nav>
<div>
    <p style="font-size: 12px"><strong>Sessions:</strong> {{ count }}</p>
    <p style="font-size: 12px"><strong>Bounce Rate:</strong> {{ bounceRate }}%</p>
    <p style="font-size: 12px"><strong>Conversion Rate:</strong> {{ conversionRate }}%</p>
    <p style="font-size: 12px"><strong>Period:</strong> {{ startDate }} - {{ endDate }}</p>

    <div class="row">
        <div class="col-12">
            <div id="BounceRateChart"></div>
        </div>
    </div>

    <script type="text/javascript">
        var x1 = {{ x1Values }};
        var y1 = {{ y1Values }};

        var x2 = {{ x2Values }};
        var y2 = {{ y2Values }};

        var bounceAnnotations = {{ annotations|raw }};

        var timeToFirstPaint = {
            x: x1,
            y: y1,
            type: 'bar',
            name: 'First Paint'
        };

        var bounceRate = {
            x: x2,
            y: y2,
            type: 'scatter',
            name: 'Bounce Rate',
            marker: {
                color: 'rgb(255, 127, 14)'
            },
            xaxis: 'x2',
            yaxis: 'y2'
        };


        var layout = {
            barmode: "overlay",
            title: "Time To First Paint vs Bounce Rate",
            xaxis: {
                rangemode: 'tozero',
                title: 'First Paint (seconds)',
                ticks: 'outside',
                tick0: 0,
                dtick: 200,
                ticklen: 5,
                tickwidth: 2,
                tickcolor: '#000',
                range: [0, 10000],
                tickvals: x1,
                ticktext: {{ x_axis_labels|raw }},
                fixedrange: true
            },
            yaxis: {
                title: 'Website Visits',
                domain: [0, 0.2],
                fixedrange: true
            },
            xaxis2: {
                anchor: 'y2',
                rangemode: 'tozero',
                //title: 'Bounce Rate',
                //autotick: false,
                //ticks: 'outside',
                tick0: 0,
                dtick: 200,
                ticklen: 5,
                tickwidth: 2,
                tickcolor: '#000',
                range: [0, 10000],
//            autorange: true,
                showgrid: false,
                zeroline: false,
                showline: false,
                autotick: true,
                ticks: '',
                showticklabels: false,
                fixedrange: true,
            },
            yaxis2: {
                domain: [0.3, 1],
                fixedrange: true
            },
            annotations: [],
            legend: {
                x: 0,
                y: 1.2,
                traceorder: 'normal',
                font: {
                    family: 'sans-serif',
                    size: 12,
                    color: '#000'
                },
                bgcolor: '#E2E2E2',
                bordercolor: '#FFFFFF',
                borderwidth: 2
            }

        };

        for(key in bounceAnnotations) {
            layout.annotations.push({
                xref: 'x2',
                yref: 'y2',
                x: key,
                y: bounceAnnotations[key],
                xanchor: 'center',
                yanchor: 'bottom',
                text: bounceAnnotations[key] + '%',
                showarrow: false,
                font: {
                    family: 'Arial',
                    size: 10,
                    color: 'black'
                }
            });
        }

        var dataFirstPaintVsBounceRate = [timeToFirstPaint, bounceRate];

        Plotly.newPlot('BounceRateChart', dataFirstPaintVsBounceRate, layout);
    </script>
</div>