<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h3>Start Render vs. Bounce Rate</h3></li>
    </ol>
</nav>
<div>
    <div class="row">
        <div class="col-6">
            <h5>Estimated improvement:</h5>
            <table id="estimated-improvement" class="table table-sm table-scroll">
                <thead>
                    <tr>
                        <th class="col-2" scope="col">Reduce</th>
                        <th class="col-2" scope="col">Bounce</th>
                        <th class="col-4" scope="col">Orders</th>
                        <th class="col-4" scope="col">Revenue</th>
                    </tr>
                </thead>
                <tbody style="height: auto !important;">
                {% for reuced_time, bounce_rate in estimated_bounces %}
                    <tr >
                        <td class="col-2">-{{ reuced_time / 1000 }} sec.</td>
                        <td style="color: #1c7430" data-bounce-rate="{{ bounceRate - bounce_rate }}" class="reduced-bounce-rate col-2"><strong>- {{ bounceRate - bounce_rate }} %</strong></td>
                        <td class="col-4 orders">?</td>
                        <td class="col-4 revenue">?</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form id="estimation-form" class="form-horizontal" role="form">
                <fieldset>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="page-type">Average Order Value:</label>
                                <input value="59.36" class="form-control form-control-sm" id="average-order-value" type="text" />
                            </div>

                        </div>
                        <div class="col-4">
                            <label for="page-type">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button id="estimate-btn" type="submit" class="btn btn-primary btn-label-right float-right">
                                Estimate <span><i class="fa fa-play-circle-o"></i></span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <script type="text/javascript">
                $('#estimation-form').submit(function(event) {
                    // As we looked at small number of orders we try to estimate how it will look on bigger scale
                    var factor = 1;

                    event.preventDefault();

                    var rows = $('#estimated-improvement tbody tr');

                    var probes = {{ count }} * factor;
                    var currentConversionRate = {{ conversionRate }} / 100;
                    var averageOrderValue = $('#average-order-value').val();

                    $(rows).each(function() {
                        var br = $(this).find('.reduced-bounce-rate').attr('data-bounce-rate') / 100;

                        var additionalVisits = probes * br;

                        var orders = additionalVisits * currentConversionRate;
                        orders = orders.toFixed(0);

                        var additionalRevenue = additionalVisits * currentConversionRate * averageOrderValue;

                        $(this).find('.orders').html('<strong style="color: #1c7430"> + ' + orders + '</strong>');
                        $(this).find('.revenue').html('<strong style="color: #1c7430"> + ' + additionalRevenue.toFixed(0) + ' €</strong>');
                    });

                    return false;
                });


            </script>
        </div>
        <div class="col-6">
            <h5>Details:</h5>
            <p style="font-size: 12px"><strong>Period:</strong> {{ startDate }} - {{ endDate }}</p>
            <p style="font-size: 12px"><strong>Platform:</strong> lostweekend.de</p>
            <p style="font-size: 12px"><strong>Devices:</strong> All - (Desktop, Mobile and Tablet)</p>
            <p style="font-size: 12px"><strong>Filtered by:</strong> Google Ads traffic</p>
            <p style="font-size: 12px"><strong>Sessions:</strong> {{ count }}</p>
            <p style="font-size: 12px"><strong>Bounce Rate:</strong> {{ bounceRate }}%</p>
            <p style="font-size: 12px"><strong>Conversion Rate:</strong> {{ conversionRate }}%</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="BounceRateChart"></div>
        </div>
    </div>
    <script type="text/javascript">
        var x1 = {{ x1Values }};
        var y1 = {{ y1Values }};

        var x2 = {{ x2Values }};
        var y2 = {{ y2Values }};

        var bounceAnnotations = {{ annotations|raw }};

        var timeToFirstPaint = {
            x: x1,
            y: y1,
            type: 'bar',
            name: 'Start Render'
        };

        var bounceRate = {
            x: x2,
            y: y2,
            type: 'scatter',
            name: 'Bounce Rate',
            marker: {
                color: 'rgb(255, 127, 14)'
            },
            xaxis: 'x2',
            yaxis: 'y2'
        };


        var layout = {
            barmode: "overlay",
            title: "Start Render vs Bounce Rate",
            xaxis: {
                rangemode: 'tozero',
                title: 'Start Render (seconds)',
                ticks: 'outside',
                tick0: 0,
                dtick: 1000,
                ticklen: 5,
                tickwidth: 2,
                tickcolor: '#000',
                range: [0, 3600],
                tickvals: {{ x_axis_values|raw }},
                ticktext: {{ x_axis_labels|raw }},
                fixedrange: true
            },
            yaxis: {
                title: 'Website Visits',
                domain: [0, 0.2],
                fixedrange: true
            },
            xaxis2: {
                anchor: 'y2',
                rangemode: 'tozero',
                //title: 'Bounce Rate',
                //autotick: false,
                //ticks: 'outside',
                tick0: 0,
                dtick: 200,
                ticklen: 5,
                tickwidth: 2,
                tickcolor: '#000',
                range: [0, 3600],
//            autorange: true,
                showgrid: false,
                zeroline: false,
                showline: false,
                autotick: true,
                ticks: '',
                showticklabels: false,
                fixedrange: true,
            },
            yaxis2: {
                domain: [0.3, 1],
                fixedrange: true
            },
            annotations: [],
            legend: {
                x: 0,
                y: 1.2,
                traceorder: 'normal',
                font: {
                    family: 'sans-serif',
                    size: 12,
                    color: '#000'
                },
                bgcolor: '#E2E2E2',
                bordercolor: '#FFFFFF',
                borderwidth: 2
            }

        };

        for(key in bounceAnnotations) {
            layout.annotations.push({
                xref: 'x2',
                yref: 'y2',
                x: key,
                y: bounceAnnotations[key],
                xanchor: 'center',
                yanchor: 'bottom',
                text: bounceAnnotations[key] + '%',
                showarrow: false,
                font: {
                    family: 'Arial',
                    size: 10,
                    color: 'black'
                }
            });
        }

        var dataFirstPaintVsBounceRate = [timeToFirstPaint, bounceRate];

        Plotly.newPlot('BounceRateChart', dataFirstPaintVsBounceRate, layout);
    </script>
</div>