<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Journeys</li>
    </ol>
</nav>

<div class="row">
    <div class="col-6">
        <h5>Sessions</h5>
        <table class="table table-sm table-scroll">
            <thead>
            <tr>
                <th class="col-7" scope="col">Session</th>
                <th class="col-2" scope="col">First Paint</th>
                <th class="col-3" scope="col">Spec. First Paint</th>
            </tr>
            </thead>
            <tbody>
            {% for page_view in page_views %}
                <tr data-session-id="{{ page_view.getGuid() }}" class="session-row" id="row_{{ page_view.getPageViewId() }}">
                    <td class="col-7">{{ page_view.getGuid() }}</td>
                    <td class="col-2">{{ page_view.getPtFcp() }} ms</td>
                    <td class="col-3">{{ page_view.getSpeculativeFp() }} ms</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h5>Page Views</h5>
        <div id="session-page-views">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div id="waterfall-container">
            <div id="legend-holder">
                <ul class="resource-legend">
                    <li class="legend-blocked" title="Time spent in a queue waiting for a network connection.">Blocked</li>
                    <li class="legend-dns" title="DNS resolution time.">DNS</li>
                    <li class="legend-connect" title="Time required to create TCP connection.">Connect</li>
                    <li class="legend-ssl" title="Time required for SSL/TLS negotiation.">SSL (TLS)</li>
                    <li class="legend-send" title="Time required to send HTTP request to the server.">Send</li>
                    <li class="legend-wait" title="Waiting for a response from the server.">Wait</li>
                    <li class="legend-receive" title="Time required to read entire response from the server (or cache).">
                        Receive
                    </li>
                </ul>
            </div>

            <div id="waterfall-view"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var loadSessionViews = function(guid) {

        var data = {
            guid : guid
        };

        $.ajax('/journey/draw',
                {
                    method: 'post',
                    data: data,
                    success : function(response) {
                        $('#session-page-views').html(response.page_views);
                    }
                }
        );
    };

    var sessionRows = $('tr.session-row');

    sessionRows.on('click', function() {
        $(sessionRows).removeClass('active');
        $(this).addClass('active');

        loadSessionViews($(this).data('session-id'));
    });

    sessionRows.first().click();
</script>