<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {#<li class="breadcrumb-item active" aria-current="page"><h3>Performance Over Time</h3></li>#}
    </ol>
</nav>
{% for key,diagram in diagrams %}
    <div style="border: 1px solid rgba(0,0,0,.1);">
        <h3 style="padding-left: 15px;">{{ diagram.section_title }}</h3>
        <hr style="margin: 0" />
    <div id="diagramContainer{{ key }}"></div>
    </div>
{% endfor %}
<script type="text/javascript">
    var basicRumPlotOverTime = function(key, data, layout_extra_shapes, title, layout_overrides) {
        var layout = {
            height: 330,
            title: title,
            xaxis: {
                showgrid: false,
                fixedrange: true
            },
            legend: {
                x: 0,
                y: 1.2,
                traceorder: 'normal',
                font: {
                    family: 'sans-serif',
                    size: 12,
                    color: '#000'
                },
                bgcolor: '#E2E2E2',
                bordercolor: '#FFFFFF',
                borderwidth: 2
            }
        };

        layout = Object.assign(layout, layout_overrides);

        if (layout_extra_shapes.length > 0) {
            layout.shapes = layout_extra_shapes;
        }

        Plotly.newPlot('diagramContainer' + key, data, layout, {displayModeBar: false});
    };

    {% for key,diagram in diagrams %}
    basicRumPlotOverTime(
        {{ key }},
        {{ diagram.diagrams|raw }},
        {{ diagram.layout_extra_shapes|raw }},
        '{{ diagram.title }}',
        {{ diagram.layout_overrides|raw }}
    );
    {% endfor %}
</script>
