<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h3>Performance Over Time</h3></li>
    </ol>
</nav>
{% for key,diagram in diagrams %}
<div id="diagramContainer{{ key }}" style="height: 300px"></div>
<div id="bounceRateDiagramContainer{{ key }}" style="height: 300px"></div>
{% endfor %}
<script type="text/javascript">
    var basicRumPlotOverTime = function(key, data, layout_extra_shapes, title) {
        var layout = {
            title: title,
            yaxis: {
                range: [0, 3500],
                tickvals: [1000, 2000, 3000],
                ticktext: ["1 sec", "2 sec", "3 sec"],
                fixedrange: true
            },
            xaxis: {
                showgrid: false,
                fixedrange: true
            },
            legend: {
                x: 0,
                y: 1.2,
                traceorder: 'normal',
                font: {
                    family: 'sans-serif',
                    size: 12,
                    color: '#000'
                },
                bgcolor: '#E2E2E2',
                bordercolor: '#FFFFFF',
                borderwidth: 2
            }
        };

        if (layout_extra_shapes.length > 0) {
            layout.shapes = layout_extra_shapes;
        }

        Plotly.newPlot('diagramContainer' + key, data, layout, {displayModeBar: false});
    };

    var basicRumPlotBounceRateOverTime = function(key, data, title) {
        var layout = {
            title: title,
            yaxis: {
                range: [0, 100],
                fixedrange: true
            },
            xaxis: {
                showgrid: false,
                fixedrange: true
            },
            legend: {
                x: 0,
                y: 1.2,
                traceorder: 'normal',
                font: {
                    family: 'sans-serif',
                    size: 12,
                    color: '#000'
                },
                bgcolor: '#E2E2E2',
                bordercolor: '#FFFFFF',
                borderwidth: 2
            }
        };

        Plotly.newPlot('bounceRateDiagramContainer' + key, data, layout, {displayModeBar: false});
    };

    {% for key,diagram in diagrams %}
    basicRumPlotOverTime({{ key }}, {{ diagram.diagrams|raw }}, {{ diagram.layout_extra_shapes|raw }}, '{{ diagram.title }}');
    {% endfor %}

    {% for key,diagram in bounce_rate_diagrams %}
    basicRumPlotBounceRateOverTime({{ key }}, {{ diagram|raw }}, 'Bounce Rate');
    {% endfor %}
</script>
