<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        {% include 'widgets/time_picker.html.twig.php' %}
    </div>
</div>

{% for urlId,url in urls %}
<div class="row {% if loop.index > 1 %}mt-5{% endif %}">
    <div class="col-12">
        Page: {{ url }}
        <hr />
    </div>
</div>
<div class="row">

    {% for code,name in metrics %}
    <div class="col-6">
        {{ name }} (median)
        <hr />
        <script>
            var pageTrafficWidgetParams{{ urlId }}_{{ code }} = {
                title: 'First Byte',
                global: {
                    presentation: {
                        'render_type': 'time_series'
                    },
                    data_requirements: {
                        period: {
                            type: 'moving',
                            start: '30',
                            end: 'now',
                        }
                    }
                },
                segments: {
                    1: {
                        presentation: {
                            name: 'Mobile',
                            color: '#2ca02c',
                            type: 'line'
                        },
                        data_requirements: {
                            filters: {
                                device_type: {
                                    search_value: 1,
                                    condition: 'is'
                                },
                                url: {
                                    search_value: '{{ url }}',
                                    condition: 'is'
                                },
                                {% if landing_pages == 1 %}
                                page_views_count: {
                                    search_value: 1,
                                    condition: 'is'
                                }
                                {% endif %}
                            },
                            technical_metrics: {
                                '{{ code }}': {
                                    data_flavor: {
                                        percentile: 50
                                    },
                                    page: 'landing'
                                }
                            }
                        }
                    },
                    2: {
                        presentation: {
                            name: 'Desktop',
                            color: '#ff6023',
                            type: 'line'
                        },
                        data_requirements: {
                            filters: {
                                device_type: {
                                    search_value: 2,
                                    condition: 'is'
                                },
                                url: {
                                    search_value: '{{ url }}',
                                    condition: 'is'
                                },
                                {% if landing_pages == 1 %}
                                page_views_count: {
                                    search_value: 1,
                                    condition: 'is'
                                }
                                {% endif %}
                            },
                            technical_metrics: {
                                '{{ code }}': {
                                    data_flavor: {
                                        percentile: 50
                                    },
                                    page: 'landing'
                                }
                            }

                        }
                    },
                    3: {
                        presentation: {
                            name: 'Tablet',
                            color: '#000fff',
                            type: 'line'
                        },
                        data_requirements: {
                            filters: {
                                device_type: {
                                    search_value: 3,
                                    condition: 'is'
                                },
                                url: {
                                    search_value: '{{ url }}',
                                    condition: 'is'
                                },
                                {% if landing_pages == 1 %}
                                page_views_count: {
                                    search_value: 1,
                                    condition: 'is'
                                }
                                {% endif %}
                            },
                            technical_metrics: {
                                '{{ code }}': {
                                    data_flavor: {
                                        percentile: 50
                                    },
                                    page: 'landing'
                                }
                            }
                        }
                    }
                }
            };
        </script>
        <div
                id="all-traffic-diagram-container{{ urlId }}_{{ code }}"
                class="widget-data-container"
                data-params-name-var="pageTrafficWidgetParams{{ urlId }}_{{ code }}">
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}