<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Dashboard</li>
    </ol>
</nav>
<div class="row">
    <script>
        var drawDevicePerformance = function (diagramContainerId, deviceType, startDate, endDate) {
            var diagramContainer = document.getElementById(diagramContainerId);

            var layout = {
                height: 300,
                margin: {
                    l: 35,
                    r: 0,
                    t: 0
                },
                xaxis : {
                    fixedrange: true,
                    dtick: '86400000.0'
                },
                yaxis : {
                    fixedrange: true,
                    range: [0, 3000],
                    tickvals: [1000, 2000, 3000],
                    ticktext: ["1 sec", "2 sec", "3 sec"]
                },
                legend: {
                    x: 0,
                    y: 1.2,
                    traceorder: 'normal',
                    font: {
                        family: 'sans-serif',
                        size: 12,
                        color: '#000'
                    },
                    orientation: "h"
                },
                barmode: 'overlay',
                bargap: 0
            };

            var postData = {
                device_type: deviceType,
                start_date : startDate,
                end_date   : endDate
            };

            $.ajax('{{ path('dashboard_device_performance') }}',
                {
                    method: 'post',
                    data: postData,
                    success : function(response) {
                        Plotly.newPlot(diagramContainer, response, layout, {displayModeBar: false});

                    }
                }
            );
        }
    </script>
    <div class="col-12">
        <h4>Device Performance - April 2019</h4>
        <hr />
    </div>
    <div class="col-4">
        Mobile
        <hr />
        <div id="device-performance-mobile" style="width: 100%; height: 300px"></div>
        <script>
            drawDevicePerformance("device-performance-mobile", '1', 'implement later', 'implement later');
        </script>
    </div>
    <div class="col-4">
        Desktop
        <hr />
        <div id="device-performance-desktop" style="width: 100%; height: 300px"></div>
        <script>
            drawDevicePerformance("device-performance-desktop", '2', 'implement later', 'implement later');
        </script>
    </div>
    <div class="col-4">
        Tablet
        <hr />
        <div id="device-performance-tablet" style="width: 100%; height: 300px"></div>
        <script>
            drawDevicePerformance("device-performance-tablet", '3', 'implement later', 'implement later');
        </script>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <br />
        <h4>Latest Page Visits</h4>
        <hr />
        <table class="table table-sm table-scroll">
            <thead>
            <tr>
                <th class="col-4" scope="col">View ID</th>
                {#<th class="col-3" scope="col">Date</th>#}
                <th class="col-3" scope="col">First Byte</th>
                <th class="col-3" scope="col">First Paint</th>
                <th class="col-2" scope="col">Device</th>
            </tr>
            </thead>
            <tbody>
            {% for page_view in page_views %}
                <tr data-beacon-id="{{ page_view.getPageViewId() }}" class="beacon-row" id="row_{{ page_view.getPageViewId() }}">
                    <td class="col-4">{{ page_view.getPageViewId() }}</td>
                    {#<td class="col-3">{{ page_view.getCreatedAt()|date("m/d/Y H:i:s") }}</td>#}
                    <td class="col-3">{{ page_view.getFirstByte() }} ms</td>
                    <td class="col-3">{{ page_view.getFirstContentfulPaint() }} ms</td>
                    <td class="col-2">{{ device_mapping[page_view.deviceTypeId()] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript">
            var loadBeacon = function(pageViewId) {

                var data = {
                    page_view_id : pageViewId
                };

                //load from /diagrams/beacon/draw
                $.ajax('/diagrams/beacon/draw',
                    {
                        method: 'post',
                        data: data,
                        success : function(response) {
                            $('#user-agent').html(response.user_agent);
                            $('#waterfall-view').html(response.waterfall);
                        }
                    }
                );
            };

            var beaconRows = $('tr.beacon-row');

            $('#load_page_view').on('click', function() {
                loadBeacon($('#page_view_id').val());
            });

            beaconRows.on('click', function() {
                $(beaconRows).removeClass('active');
                $(this).addClass('active');

                loadBeacon($(this).data('beacon-id'));
            });

            beaconRows.first().click();
        </script>
    </div>
    <div class="col-6">
        <br />
        <h4>Device distribution - April 2019</h4>
        <hr />
        <div id="visits-per-device" style="width: 100%;"></div>

        <script type="text/javascript">
            var stacksDiv = document.getElementById("visits-per-device");

            var layout = {
                height: 300,
                margin: {
                    l: 40,
                    t: 0
                },
                xaxis : {
                    fixedrange: true,
                    dtick: '86400000.0'
                },
                yaxis : {
                    fixedrange: true,

                    tickvals: [0, 50, 100],
                    ticktext: ["0 %", "50 %", "100%"]
                }
            };

            $.ajax('/dashboard/device/distribution',
                {
                    method: 'post',
                    success : function(response) {
                        Plotly.newPlot(stacksDiv, response, layout, {displayModeBar: false});

                    }
                }
            );
        </script>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Waterfalls</h4>
        <hr />
        <label for="page_view_id">Page View ID:</label>
        <input id="page_view_id" type="text" />
        <button type="button" id="load_page_view">Load Waterfall</button>
        <br />
        <p style="font-size: 12px">
            <strong>User Agent String:</strong><span id="user-agent"></span>
        </p>
        <hr />
        <div id="waterfall-container">

            <p>Waterfall diagram</p>
            <div id="legend-holder">
                <ul class="resource-legend">
                    {#<li class="legend-blocked" title="Time spent in a queue waiting for a network connection.">Blocked</li>#}
                    {#<li class="legend-dns" title="DNS resolution time.">DNS</li>#}
                    {#<li class="legend-connect" title="Time required to create TCP connection.">Connect</li>#}
                    {#<li class="legend-ssl" title="Time required for SSL/TLS negotiation.">SSL (TLS)</li>#}
                    {#<li class="legend-send" title="Time required to send HTTP request to the server.">Send</li>#}
                    {#<li class="legend-wait" title="Waiting for a response from the server.">Wait</li>#}
                    {#<li class="legend-receive" title="Time required to read entire response from the server (or cache).">#}
                    {#Receive#}
                    {#</li>#}
                    <li class="legend-receive" title="Duration">Duration</li>
                </ul>
            </div>

            <div id="waterfall-view"></div>
        </div>
    </div>
</div>