<table class="table table-sm table-scroll">
    <thead>
    <tr>
        {#<th class="col-1" scope="col">#</th>#}
        <th class="col-4" scope="col">Url</th>
        <th class="col-2" scope="col">Views</th>
        <th class="col-3" scope="col">First Byte</th>
        <th class="col-3" scope="col">First Paint</th>
    </tr>
    </thead>
    <tbody>
    {% for page_perf in popular_pages_performance %}
        <tr>
            {#<td class="col-1">{{ page_perf.number }}</td>#}
            <td class="col-4">{{ page_perf.url }}</td>
            <td class="col-2">{{ page_perf.page_views }}</td>
            <td class="col-3">{{ page_perf.first_byte_median }} (<span style="font-weight: bold; {{ page_perf.first_byte_diff_style }}">{{ page_perf.first_byte_diff }}</span>)</td>
            <td class="col-3">{{ page_perf.first_paint_median }} (<span style="font-weight: bold; {{ page_perf.first_paint_diff_style }}">{{ page_perf.first_paint_diff }}</span>)</td>
        </tr>
    {% endfor %}
    </tbody>
</table>