<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Waterfalls</li>
    </ol>
</nav>
<div>
    <form id="waterfall-table-form" class="form-horizontal" role="form" action="{{ path('waterfalls_list') }}">
        <input type="hidden" name="segments[1][data_requirements][technical_metrics]" value="document_ready|1">

        <div class="bg-light diagram-controls pl-2 pr-2">
            <fieldset>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 under-construction">

                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="filters_device_type">Device:</label>
                                    <input type="hidden" name="global[data_requirements][filters][device_type][condition]" value="is" />
                                    <select name="global[data_requirements][filters][device_type][search_value]" class="form-control form-control-sm" id="filters_device_type">
                                        <option value="">All</option>
                                        <option selected value="1">Mobile</option>
                                        <option value="3">Tablet</option>
                                        <option value="2">Desktop</option>
                                        <option value="4">Bot</option>
                                        <option value="5">Other</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="filters_operating_system">OS:</label>
                                    <input type="hidden" name="global[data_requirements][filters][operating_system][condition]" value="is" />
                                    <select name="global[data_requirements][filters][operating_system][search_value]" class="form-control form-control-sm" id="filters_operating_system">
                                        <option selected value="">All</option>
                                        {% for os in operating_systems %}
                                            <option value="{{ os.key }}">{{ os.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="filters_browser_name">Browser:</label>
                                    <input type="hidden" name="global[data_requirements][filters][browser_name][condition]" value="is" />
                                    <select name="global[data_requirements][filters][browser_name][search_value]" class="form-control form-control-sm" id="filters_browser_name">
                                        <option selected value="">All</option>
                                        <option value="Chrome">Chrome</option>
                                        <option value="Firefox">Firefox</option>
                                        <option value="Internet Explorer">Internet Explorer</option>
                                        <option value="Safari">Safari</option>
                                        <option value="Edge">Edge</option>
                                        <option value="Samsung Internet">Samsung Internet</option>
                                        <option value="Opera">Opera</option>
                                    </select>
                                </div>
                            </div>
                            <fieldset class="border p-2 mt-1">
                                <legend class="w-auto mb-0">Url Filters:</legend>
                                <label for="filters_url_search_value">Url:</label>
                                <div class="row">
                                    <div class="col-4">
                                        <select name="global[data_requirements][filters][url][condition]" class="form-control form-control-sm" id="filters_url_condition">
                                            <option value="is">is</option>
                                            <option selected value="contains">contains</option>
                                            <option value="starts_with">starts with</option>
                                            <option value="ends_on">ends on</option>
                                        </select>
                                    </div>
                                    <div class="col-8">
                                        <input name="global[data_requirements][filters][url][search_value]" type="text" class="form-control form-control-sm" id="filters_url_search_value" />
                                    </div>
                                </div>
                                <label for="filters_query_param_value">Url Parameters:</label>
                                <div class="row">
                                    <div class="col-4">
                                        <select name="global[data_requirements][filters][query_param][condition]" class="form-control form-control-sm" id="filters_query_param_condition">
                                            <option value="is">is</option>
                                            <option selected value="contains">contains</option>
                                            <option value="starts_with">starts with</option>
                                            <option value="ends_on">ends on</option>
                                        </select>
                                    </div>
                                    <div class="col-8">
                                        <input name="global[data_requirements][filters][query_param][search_value]" type="text" class="form-control form-control-sm" id="filters_query_param_value" />
                                    </div>
                                </div>
                                {% if page_types is not empty %}
                                    <label for="filters_page_type">Page Type:</label>
                                    <div class="row">
                                        <div class="col-12">
                                            <select name="global[data_requirements][filters][page_type]" class="form-control form-control-sm" id="filters_page_type">
                                                <option value="" selected="selected">---</option>
                                                {% for page in page_types %}
                                                    <option value="{{ page.getId() }}">{{ page.getPageTypeName() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <script>
                                        $('#filters_page_type').change(function () {
                                            var pageTypeConditionalInputs = $('#filters_url_condition, #filters_url_search_value, #filters_query_param_condition, #filters_query_param_value');
                                            if( $(this).val().length > 0 ) {
                                                $(pageTypeConditionalInputs).prop('disabled', true);
                                            } else {
                                                $(pageTypeConditionalInputs).prop('disabled', false);
                                            }
                                        })
                                    </script>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group has-feedback">
                            <label>Periods:</label>
                            <br />
                            <div class="date-picker-wrapper float-left">
                                <input class="form-control form-control-sm calendar-date-picker" type="text" id="current_period_from_date_0" name="global[data_requirements][periods][0][from_date]" value="{{ period.getStart() }}">
                                <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                            </div>
                            -
                            <div class="date-picker-wrapper float-right">
                                <input class="form-control form-control-sm calendar-date-picker" type="text" id="current_period_to_date_0" name="global[data_requirements][periods][0][to_date]" value="{{ period.getEnd() }}">
                                <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label></label>
                            <br />
                            <label><input type="checkbox" value="1" name="business_metrics[bounce_rate]" /> Landing Page</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <button type="submit" class="btn btn-primary btn-label-right mt-4 w-100">
                            Generate <span><i class="fa fa-play-circle-o"></i></span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
        <button type="button" class="p-0 w-25 mx-auto d-block btn btn-info more-diagram-controls"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up" style="display: none"></i> <span class="more-less-text">More controls</span> <i class="fa fa-angle-down"></i><i class="fa fa-angle-up" style="display: none"></i></button>
        <script>
            $('.more-diagram-controls').click(function () {
                if ( 'hidden' === $('.diagram-controls').css('overflow') ) {
                    moreControls();
                } else {
                    lessControls();
                }
            })
        </script>
    </form>
    <script type="text/javascript">
        $(".calendar-date-picker").datepicker();
    </script>
    <div class="views-table-container">

    </div>
</div>

<script type="text/javascript">
    var waterfallTableForm = $('#waterfall-table-form');

    var fetchWaterfallPageViews = function(form) {
        var submitBtn = $("button[type=submit]", form);
        $(submitBtn).attr("disabled", true);
        var dataString = $(form).serialize();
        var formAction = $(form).attr('action');
        $.ajax({
            type: "POST",
            url: formAction,
            data: dataString,
            success: function(data) {
                $(submitBtn).attr("disabled", false);
                lessControls();
                $('.views-table-container').html(data);
            },
            error: function() {
                $(submitBtn).attr("disabled", false);
                alert('error');
            }
        });
    };

    $(waterfallTableForm).submit(function (event) {
        event.preventDefault();
        fetchWaterfallPageViews(this);
    });

    fetchWaterfallPageViews(waterfallTableForm);

</script>