<div class="row">
    <div class="col-lg-3 col-md-12">
        Page Visits
        <hr />
        <table class="table table-sm table-scroll">
            <thead>
            <tr>
                <th class="col-3" scope="col">View ID</th>
                {#<th class="col-3" scope="col">Date</th>#}
                <th class="col-3" scope="col">First Byte</th>
                <th class="col-4" scope="col">First Paint</th>
                <th class="col-2" scope="col">Device</th>
            </tr>
            </thead>
            <tbody>
            {% for page_view in page_views %}
                <tr data-beacon-id="{{ page_view.getPageViewId() }}" class="beacon-row" id="row_{{ page_view.getPageViewId() }}">
                    <td class="col-3">{{ page_view.getPageViewId() }}</td>
                    {#<td class="col-3">{{ page_view.getCreatedAt()|date("m/d/Y H:i:s") }}</td>#}
                    <td class="col-3">{{ page_view.getFirstByte() }} ms</td>
                    <td class="col-4">{{ page_view.getFirstContentfulPaint() }} ms</td>
                    <td class="col-2">{{ device_mapping[page_view.deviceTypeId()] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript">
            var loadBeacon = function(pageViewId) {

                var data = {
                    page_view_id : pageViewId
                };

                //load from /diagrams/beacon/draw
                $.ajax('/diagrams/beacon/draw',
                    {
                        method: 'post',
                        data: data,
                        success : function(response) {
                            $('#user-agent').html(response.user_agent);
                            $('#waterfall-view').html(response.waterfall);
                        }
                    }
                );
            };

            var beaconRows = $('tr.beacon-row');

            $('#load_page_view').on('click', function() {
                loadBeacon($('#page_view_id').val());
            });

            beaconRows.on('click', function() {
                $(beaconRows).removeClass('active');
                $(this).addClass('active');

                loadBeacon($(this).data('beacon-id'));
            });

            beaconRows.first().click();
        </script>
    </div>
    <div class="col-lg-9 col-md-12">
        &nbsp;Waterfall diagram
        {#<p style="font-size: 12px">#}
            {#<strong>User Agent String:</strong><span id="user-agent"></span>#}
        {#</p>#}
        <hr />
        <div id="waterfall-container">
            {#<div id="legend-holder">#}
                {#<ul class="resource-legend">#}
                    {#<li class="legend-blocked" title="Time spent in a queue waiting for a network connection.">Blocked</li>#}
                    {#<li class="legend-dns" title="DNS resolution time.">DNS</li>#}
                    {#<li class="legend-connect" title="Time required to create TCP connection.">Connect</li>#}
                    {#<li class="legend-ssl" title="Time required for SSL/TLS negotiation.">SSL (TLS)</li>#}
                    {#<li class="legend-send" title="Time required to send HTTP request to the server.">Send</li>#}
                    {#<li class="legend-wait" title="Waiting for a response from the server.">Wait</li>#}
                    {#<li class="legend-receive" title="Time required to read entire response from the server (or cache).">#}
                    {#Receive#}
                    {#</li>#}
                    {#<li class="legend-receive" title="Duration">Duration</li>#}
                {#</ul>#}
            {#</div>#}

            <div id="waterfall-view"></div>
        </div>
    </div>
</div>