<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax-link" href="{{ path('releases_index') }}">Releases</a></li>
        <li class="breadcrumb-item active">Edit Release <span class="badge badge-dark badge-pill">{{ release.id }}</span></li>
    </ol>
</nav>


{{ include('releases/_form.html.twig', {'button_label': 'Update'}) }}

<button data-link="{{ path('releases_index') }}" class="ajax-btn btn btn-secondary float-left"><i class="fa fa-backward"></i>Back</button>

{{ include('releases/_delete_form.html.twig') }}
