<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax-link" href="{{ path('releases_index') }}">Releases</a></li>
        <li class="breadcrumb-item">Release <span class="badge badge-dark badge-pill">{{ release.id }}</span></li>
    </ol>
</nav>

<table class="table">
    <tbody>
        <tr>
            <th>Date</th>
            <td>{{ release.date ? release.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ release.description }}</td>
        </tr>
    </tbody>
</table>

<button data-link="{{ path('releases_index') }}" class="ajax-btn btn btn-secondary float-left">
    <i class="fa fa-backward"></i>Back
</button>

{{ include('releases/_delete_form.html.twig') }}
<button
        data-link="{{ path('releases_edit', {'id': release.id}) }}"
        class="ajax-btn btn btn-primary float-right">
    <i class="fa fa-edit"></i>Edit
</button>
