<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Users</li>
    </ol>
</nav>

<button id="addBtn" class="btn btn-info">Add user</button>

<table id="users_table" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        {% if user.id != app.user.id %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fname }}</td>
                <td>{{ user.lname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Admin
                    {% else %}
                        User
                    {% endif %}
                </td>
                <td>
                    <button
                        id="editBtn"
                        class="btn btn-info"
                        data-userid="{{ user.id }}">
                        Edit User
                    </button>
                    <button
                        id="deleteBtn"
                        class="btn btn-danger"
                        data-userid="{{ user.id }}">
                        Delete User
                    </button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>


<script>
    var appData = {
            mode:               '',
            userId:             '',
            row:                '',
            validator:          '',
            usersTableId:       '#users_table',
            userDetailsModalId: '#user_details'

        };
</script>


<script src="/js/user/table-manager.js"></script>
<script src="/js/user/user_crud_actions.js"></script>
<script src="/js/user/ajax_module.js"></script>
<script src="/js/user/user_actions.js"></script>

{% include 'admin/register_form.html.twig' %}

<script>
    $(document).ready( function () {
        $(appData.usersTableId).DataTable({
            "order": [[ 0, "desc" ]]
        });
    });

    crudActions.addEventListeners();
</script>
