<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Boomerang JS Agent</a></li>
        <li class="breadcrumb-item active" aria-current="page">Builder</li>
    </ol>
</nav>
<div class="row">
    <div class="col-3">
        <h4>Builds:</h4>
        <hr />
        <ul>
            <li><a href="#"># build 5 / 19.05.2018</a></li>
            <li><a href="#"># build 4 / 17.05.2018</a></li>
            <li><a href="#"># build 3 / 13.05.2018</a></li>
            <li><a href="#"># build 2 / 11.05.2018</a></li>
            <li><a href="#"># build 1 / 9.05.2018</a></li>
        </ul>
    </div>
    <div class="col-6">
        <h4>Build Boomerang:</h4>
        <hr />
        <form id="boomerang_builder" action="{{ path('browser_agent_generate') }}" type="post">
            <div class="form-group">
                <label>1) Specify beacon catcher endpoint/address:</label>
                <input type="text" name="beacon_catcher_address" class="form-control" id="beacon_catcher_address" placeholder="e.g. https://www.example.com/beacon-catcher.php">
            </div>
            <div class="form-group">
                <label>2) Include Boomerang Plugins:</label>
                {% for key, plugin in boomerang_plugins %}
                <div class="form-check">
                    <input checked name="plugins[{{ key }}]" class="form-check-input" type="checkbox" id="{{ key }}_check">
                    <label class="form-check-label" for="{{ key }}_check">
                    {{ plugin.label }}
                    </label>
                    <span class="float-right docs-link"><a target="_blank" href="{{ plugin.docs_link }}">Read Docs</a></span>
                </div>
                {% endfor %}
            </div>
            <hr />
            <div class="form-group row">

                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-label-right float-right">
                        Build
                        <span><i class="fa fa-gavel"></i></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#boomerang_builder').submit(function( event ) {
        event.preventDefault();

        var data = $(this).serialize();

        $.ajax($(this).attr('action'),
            {
                method: 'post',
                data: data,
                success : function(response) {
                    if (response.error.length > 0) {
                        alert(response.error);
                    }
                }
            }
        );
    })
</script>