<form id="settings-form">
<table id="emails_settings_table" class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    {% for item in settings %}
        <tr>
            <td>
                <input
                    type="text"
                    name="name[{{ item.id }}]"
                    class="form-control"
                    readonly="readonly"
                    value="{{ aliases[item.name]['alias'] }}"
                    >

            </td>
            <td>
                <input
{#                    type="text"#}
                    name="value[{{ item.id }}]"
                    value="{{ item.value }}"
                    class="form-control"
                    {% for rule, value in aliases[item.name]['validation_rules'] %}
                        {% if value %}
                            {{ rule }}="{{ value }}"
                        {% else %}
                            {{ rule }}
                        {% endif %}
                    {% endfor %}
                    >
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button
    id="saveBtn"
    class="btn btn-info">
    Save Settings
</button>
</form>

<script>
    $().ready(function() {
        $("#settings-form").validate({
            errorLabelContainer: $("#form1 div.error"),
            submitHandler: function(form) {
                var formData = $('#settings-form').serialize();
                $.post('{{ path('admin_site_settings_save') }}', formData)
                    .done(function(response){
                        console.log(response);
                        alert(response.message);
                    })
                    .fail(function(){
                        alert("Something went wrong");
                    });
            }
        });
    });
</script>
