<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Basic RUM</title>
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <meta name="description" content="Basic RUM - Backoffice">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ asset('plugins/bootstrap.4.4.1/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/init.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/header.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/navigation.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/misc.css') }}" rel="stylesheet">
    </head>
    <body>

    <!--Start Header-->
    <div id="wrapper">
        <nav class="navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

        </nav>

        <div id="page-content-wrapper">
            <header>
                <div class="container-fluid">
                    <div class="row" id="header">
                        <div class="col-xs-4 col-sm-4" style="height: 50px">
                            <div class="ml-5">
                                <span class="mb-0" style="font-size: 30px; color: #FFF;">
                                    BasicRUM
                                </span>
                            </div>
                            <div class="ml-4">
                            </div>
                            <nav aria-label="breadcrumb">

                            </nav>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                        </div>
                    </div>
                </div>
            </header>
            <!--End Header-->
            <!--Start Container-->
            <div class="container-fluid" id="main">
                <div class="row">
                    <!--Start Content-->
                    <div id="content" class="col-12">
                        <div class="col-6 mx-auto">


                            {% block content %}{% endblock %}


                        </div>
                    </div>
                    <!--End Content-->
                </div>
            </div>
            <footer>
                <div id="top-panel" class="col-xs-4 col-sm-4">
                    <div class="mt-2 mb-2 pull-left btn-group">
                        <a style="color: #007de1" class="btn" target="_blank" href="https://github.com/basicrum/backoffice">
                            <i class="fa fa-comment-o"></i> Feedback on GitHub <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--End Container-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="{{ asset('plugins/jquery/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('plugins/poper/popper.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap.4.4.1/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/plotly/plotly-1.49.1.min.js') }}"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script src="{{ asset('js/basicrum.js') }}"></script>
    {#<script src="{{ asset('js/basicrum/content_loader.js') }}"></script> #}
    <script src="{{ asset('js/basicrum/navigation.js') }}"></script>
    <script src="{{ asset('js/basicrum/hamburger_menu.js') }}"></script>
    <script src="{{ asset('js/basicrum/widget.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        BASIC_RUM_APP.init();
    </script>

    </body>
</html>
