<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Basic RUM</title>
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <meta name="description" content="Basic RUM - Backoffice">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ asset('plugins/bootstrap.4.4.1/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/jquery-ui/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/init.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/header.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/navigation.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/misc.css') }}" rel="stylesheet">
        <link href="{{ asset('css/backoffice/controls.css') }}" rel="stylesheet">
        <link href="{{ asset('css/waterfall.css') }}" rel="stylesheet">
        <link href="{{ asset('css/scroll-table.css') }}" rel="stylesheet">
        <link href="{{ asset('css/diagram-controls.css') }}" rel="stylesheet">
        <link href="{{ asset('css/configure.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/jquery-validate/css/screen.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    </head>
    <body>
    <script type="text/javascript">
        var BUMP_NOW_DATE = '{{ bump_now_date }}';
    </script>
    <!--Start Header-->
    <div id="wrapper">
        <nav class="navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <div class="ml-5">
                <img src="/img/logo.png" height="75">
            </div>
            <div class="ml-4">
                <span class="mb-0" style="font-size: 30px; color: #FFF;">
                    BasicRUM
                </span>
            </div>
            <ul class="nav sidebar-nav" id="side-menu" style="top: 120px">
                <li class="nav-item">
                    <a href="{{ path('dashboard') }}" class="nav-link ajax-link">
                        <i class="fa fa-dashboard"></i>
                        <span class="hidden-xs">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#diagrams" class="nav-link" data-toggle="collapse" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fa fa-bar-chart-o"></i>
                        Diagrams
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul id="diagrams" class="collapse">
                        <li><a class="ajax-link" href="{{ path('diagrams_generator_index') }}">Generator</a></li>
                        <li><a class="ajax-link" href="{{ path('diagrams_all_traffic') }}">All Traffic</a></li>
                        <li><a class="ajax-link" href="{{ path('landing_pages_overtimeMedian') }}">Landing Pages</a></li>
                        <li><a class="ajax-link" href="{{ path('popular_pages_overtimeMedian') }}">Popular Pages</a></li>
                        {#<li><a class="ajax-link" href="{{ path('landing_pages_overtimeMedian') }}?metric=time_to_first_byte">LP First Byte</a></li>#}
                        {#<li><a class="ajax-link" href="/diagrams/release/compare">Release Compare</a></li>#}
                        {#<li><a class="ajax-link" href="{{ path('diagrams_estimate_revenue_calculator') }}">Revenue Estimator (FP)</a></li>#}
                        {#<li><a class="ajax-link" href="/journey/list">Journeys</a></li>#}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ path('waterfalls_index') }}">
                        <i class="fa fa-align-left"></i>
                        Waterfalls
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#configure" class="nav-link" data-toggle="collapse" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                        Configure
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul id="configure" class="collapse">
                        <li><a class="ajax-link" href="{{ path('page_type_config_index') }}">Page Types</a></li>
                        <li><a class="ajax-link" href="{{ path('releases_index') }}">Releases</a></li>
                        <li><a class="ajax-link" href="{{ path('admin_site_settings') }}">Email Setttings</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link ajax-link" href="/browser/agent/builder">
                        <i class="fa fa-gavel"></i>
                        Agent Builder
                    </a>
                </li>
                <li class="nav-item">
                    &nbsp;
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ path('admin_users') }}">
                        <i class="fa fa-plus"></i>
                        Manage Users
                    </a>
                </li>

                <li class="nav-item">
                    &nbsp;
                </li>
                {% endif %}


                <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ path('widgets_index') }}">
                        <i class="fa fa-cogs"></i>
                        Manage Widgets
                    </a>
                </li>
                <li class="nav-item">
                    &nbsp;
                </li>

                <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ path('info_about') }}">
                        <i class="fa fa-question"></i>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ path('info_next') }}">
                        <i class="fa fa-question"></i>
                        What's next
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/basicrum/backoffice">
                        <i class="fa fa-github"></i>
                        Fork me on GitHub
                    </a>
                </li>
                <li class="nav-item">
                    &nbsp;
                </li>
                <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ path('admin_edit_profile') }}">
                        <i class="fa fa-user"></i>
                        Edit Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <div id="page-content-wrapper">
            <header>
                <div class="container-fluid">
                    <div class="row" id="header">
                        <div class="col-xs-4 col-sm-4">
                            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                                <span class="hamb-top"></span>
                                <span class="hamb-middle"></span>
                                <span class="hamb-bottom"></span>
                            </button>
                            <nav aria-label="breadcrumb">

                            </nav>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            {% if global_notification == 'dev' %}
                                <div style="font-size: 0.8rem" class="alert alert-warning p-1 mb-0" role="alert">
                                    <i class="fa fa-exclamation"></i> Development version! Contains test data for period ({{ start_test_data }} - {{ end_test_data }}).
                                </div>
                            {% endif %}

                            {% if global_notification == 'demo' %}
                                <div style="font-size: 0.8rem" class="alert alert-warning p-1 mb-0" role="alert">
                                    <i class="fa fa-exclamation"></i> Demo version! Contains test data for period ({{ start_test_data }} - {{ end_test_data }}).
                                </div>
                            {% endif %}
                        </div>
                        <div id="top-panel" class="col-xs-4 col-sm-4">
                            <div class="mt-2 mb-2 pull-right btn-group">
                                <span style="color: #FFF;">Hello, <span class="user-name">{{ app.user.fname }} {{ app.user.lname }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--End Header-->
            <!--Start Container-->
            <div class="container-fluid" id="main">
                <div class="row">
                    <!--Start Content-->
                    <div id="content" class="col-12">
                        <div class="preloader">
                            <img src="{{ asset('img/devoops_getdata.gif') }}" class="devoops-getdata" alt="preloader"/>
                        </div>
                        <div id="ajax-content"></div>
                    </div>
                    <!--End Content-->
                </div>
            </div>
            <footer>
                <div id="top-panel" class="col-xs-4 col-sm-4">
                    <div class="mt-2 mb-2 pull-left btn-group">
                        <a style="color: #007de1" class="btn" target="_blank" href="https://github.com/basicrum/backoffice">
                            <i class="fa fa-comment-o"></i> Feedback on GitHub <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--End Container-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="{{ asset('plugins/jquery/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('plugins/poper/popper.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap.4.4.1/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/plotly/plotly-1.49.1.min.js') }}"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script src="{{ asset('js/basicrum.js') }}"></script>
    <script src="{{ asset('js/basicrum/content_loader.js') }}"></script>
    <script src="{{ asset('js/basicrum/navigation.js') }}"></script>
    <script src="{{ asset('js/basicrum/hamburger_menu.js') }}"></script>
    <script src="{{ asset('js/basicrum/widget.js') }}"></script>
    <script src="{{ asset('js/user/autologout.js') }}"></script>

    <script src="{{ asset('plugins/jquery-validate/jquery.validate.js') }}"></script>
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>

    <script>
        BASIC_RUM_APP.init();
    </script>

    </body>
</html>